<footer>
  <nav>
    <ul>
      <li>
        <a href="#"> Sobre a digibank </a>
      </li>
      <li>
        <a href="#"> Privacidade e segurança </a>
      </li>
      <li>
        <a href="#"> Parceiros </a>
      </li>
      <li>
        <a href="#"> LGPD </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#"> Contato </a>
      </li>
      <li>
        <a href="#"> Mapa do site </a>
      </li>
      <li>
        <a href="#"> Imprensa </a>
      </li>
      <li>
        <a href="#"> Reciclando </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#"> Blog </a>
      </li>
      <li>
        <a href="#"> Investidores </a>
      </li>
      <li>
        <a href="#"> Preferências de e-mail </a>
      </li>
      <li>
        <a href="#"> História </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#"> Trabalhe conosco </a>
      </li>
      <li>
        <a href="#"> Termos de uso </a>
      </li>
    </ul>
  </nav>
  <hr />
  <div class="bottom">
    <ul class="social">
      <li>
        <a href="#">
          <ng-icon color="#fff" name="feather-facebook"></ng-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <ng-icon color="#fff" name="feather-instagram"></ng-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <ng-icon color="#fff" name="feather-youtube"></ng-icon>
        </a>
      </li>
    </ul>
    <div class="newsletter">
      <div class="input">
        <input type="text" placeholder="E-mail" />
        <button>
          <ng-icon size="18px" name="feather-chevron-right"></ng-icon>
        </button>
      </div>
      <div class="check">
        <input type="checkbox" />
        <p>
          Quero receber novidades e promoções em meu e-mail <br />
          Leia nossa
          <a style="text-decoration: underline" href="#">
            política de privacidade.
          </a>
        </p>
      </div>
    </div>
    <div class="copy">
      <p>&copy; 2022 digibank. Nenhum direito reservado</p>
    </div>
    <a class="country">
      <img src="assets/icons/brazil-flag.svg" alt="Brasil" />
      <p>Brasil</p>
    </a>
  </div>
</footer>
