<app-header></app-header>
<app-hero></app-hero>
<section class="features">
  <h5>Zero Burocracia</h5>
  <h2>
    Aqui, seu tempo rende tanto quanto <br />
    seu dinheiro.
  </h2>
  <div class="cards">
    <app-feature-card
      *ngFor="let feature of features"
      [iconName]="feature.iconName"
      [iconColor]="feature.iconColor"
      [bgColor]="feature.bgColor"
    >
      {{ feature.title }}
    </app-feature-card>
  </div>
</section>
<section class="services">
  <div class="image">
    <img src="assets/images/surprised-man.png" alt="" />
  </div>
  <div class="content">
    <h2>Você nunca viu nada assim. Vai se surpreender!</h2>
    <h5>
      Nosso banco é líder em quesitos de satisfação de clientes. Nosso
      aplicativo tem uma ótima usabilidade. Você pode controlar todas suas
      despesas de forma fácil e extremamente intuitiva. Abra uma conta ainda
      hoje. Você não vai se arrepender
    </h5>
  </div>
</section>
<section class="info">
  <ul>
    <li>
      <h5>Agilize</h5>
      <h3>9 milhões de horas</h3>
      <h4>
        Em média, o brasileiro passa 12h por ano em filas de bancos. Mas não no
        digibank.
      </h4>
    </li>
    <li>
      <h5>Invista</h5>
      <h3>R$ 16 bilhões</h3>
      <h4>Esse é o valor sob nossa custódia aplicado em nossas carteiras.</h4>
    </li>
    <li>
      <h5>Faça Parte</h5>
      <h3>1,4+ milhão</h3>
      <h4>
        Mais de 1 milhão de pessoas abriram uma conta no digibank em 2022.
      </h4>
    </li>
  </ul>
</section>
