<section>
  <div class="content">
    <h1>
      digibank, menos banco, mais
      <span>#digital</span>
    </h1>
    <h5>
      Abra sua conta digital com o digibank agora mesmo e aproveite a
      comodidaque que apenas o digibank pode oferecer.
    </h5>
    <app-button style="margin: 32px 0 24px" variant="cta">
      Abra sua conta
      <ng-icon
        style="background-color: #0cd68a; border-radius: 50%"
        name="feather-chevron-right"
      ></ng-icon>
    </app-button>
    <div>
      <h3>A conta de 6+ milhões de Brasileiros</h3>
      <p>
        O digibank é a instituição financeira que mais <br />
        abriu contas no Brasil em 2022.
      </p>
    </div>
  </div>
  <div class="image">
    <img src="assets/images/hero.png" alt="" />
  </div>
</section>
